div(class="result_main_div")
    div(class="result_box")
        div(class="search_box pt-3 d-flex flex-row justify-content-center align-content-center")
            form(action="/" class="form-group w-100 search_form" method="post")
                div  
                    input(type="text", name="cityName" class="form-control input-width" id="cityInput" placeholder="Search New City")
                    i(class="fa-solid fa-magnifying-glass search_icon")

        div(class="current_search_info")
            div(class="current_time")
                div(class="time")
                    include ../partials/localtime.pug
                include ../partials/localday.pug
                                
                //- p  #{time || "7:43"} <span>#{dayMethod||"PM"}</span>
                //- p  #{day || "WEDNESDAY"}, #{today || "14 DECEMBER 2022"}
            div(class="current_city")
                p #{name || "DELHI"}
                p
                p #{country || "INDIA"}

        div(class="current_city_weather_condition")
            ul 
                li 
                    i(class="fa-solid fa-smog")
                li #{weatherDesc || "HAZE"}
    div(class="result_weather_info")
        div(id="weather")
            div(class="current_weather_condition")
                span 
                    i(class="fa-solid fa-cloud")
                p #{weatherMain || "CLOUDY"}
            div(class="current_temperature")
                div(class="temperature temp")
                    p #{temp || "17"} <span>o</span> <span>c</span>
                    span
                        i(class="fa-solid fa-temperature-three-quarters")       
                div(class="temperature_feels_like temp")
                    p #{feels_like || "5"} <span>o</span><span>c</span>
                    p
                    p Feels Like
        div(class="weather_situation_info" id="weather_situation_info")
            ul(class="weather_situation")
                li <iconify-icon icon="mdi:car-brake-low-pressure"></iconify-icon>
                li HUMIDITY <span>(%)</span>
                li 
                li #{humidity || "23.5"}
            ul(class="weather_situation")
                li <iconify-icon icon="carbon:humidity"></iconify-icon>
                li AIR PRESSURE <span>(HPA)</span>
                li 
                li #{pressure || "1015"}
            ul(class="weather_situation")
                li <iconify-icon icon="bi:wind"></iconify-icon>
                li WIND <span>(km/h)</span>
                li 
                li #{wind || "8"}



